@model _BookNeT_.Models.viewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Register</h2>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="Email" class="form-label">@Html.LabelFor(m => m.Email)</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="FirstName" class="form-label">@Html.LabelFor(m => m.FirstName)</label>
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">@Html.LabelFor(m => m.LastName)</label>
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                <label for="Phone" class="form-label">@Html.LabelFor(m => m.Phone)</label>
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">@Html.LabelFor(m => m.Password)</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="ConfirmPassword" class="form-label">@Html.LabelFor(m => m.ConfirmPassword)</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="Age" class="form-label">@Html.LabelFor(m => m.Age)</label>
                @Html.TextBoxFor(m => m.Age, new { @class = "form-control-sm", type = "number", min = "10", max = "100" })
                @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
            </div>

            <input type="submit" value="Register" class="btn btn-primary w-100 p-2" />

            <p class="text-center mt-2">
                You already have an account?
                <a href="@Url.Action("Login", "Account")" class="text-decoration-none">Login</a>
            </p>

            <div class="text-center">
                <a href="javascript:
                   if (window.history.length>
                    1) {
                    window.history.back();
                    } else {
                    window.location.href = '/Home/Index';
                    }"
                    class="text-decoration-none mt-3">
                    back
                </a>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
