@model _BookNeT_.Models.Books
<h2>Delete Book</h2>
    <div class="alert alert-danger" style="margin: 20px auto;">
        <h4>Are you sure you want to delete this book?</h4>
    </div>

    <table class="table">
        <tr><th>Book's name</th><td>@Model.Title</td></tr>
        <tr><th>Author's name</th><td>@Model.Author</td></tr>
        <tr><th>Publisher</th><td>@Model.Publisher</td></tr>
        <tr><th>Year Of Publication</th><td>@Model.YearOfPublication</td></tr>
        <tr><th>Genre</th><td>@Model.Genre</td></tr>
        <tr><th>Purchase Price</th><td>₪@Model.PurchasePrice</td></tr>
        <tr><th>Borrow Price</th><td>₪@Model.BorrowPrice</td></tr>
        <tr><th>Number of copies</th><td>@Model.Stock</td></tr>
        <tr><th>Is Borrowable</th><td>@(Model.IsBorrowable == true ? "Yes" : "No")</td></tr>
        <tr><th>Status</th><td>@Model.Status</td></tr>
    </table>

    <form method="post" action="/Books/Delete/@Model.BookID">
        @Html.AntiForgeryToken()

        <div class="form-actions" style="text-align: center;">
            <input type="submit" value="DELETE" class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete this book?')" />
            <a href="/Books/Index" class="btn btn-secondary">Back to list</a>
        </div>
    </form>
